// nextflow.config
profiles {

    standard { }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.container = 'variant-pipeline:1.0'
    }

    // Add this new profile for automated testing
    test {
        params.reads = "tests/data/*_{1,2}.fastq"
        params.reference = "tests/data/pao1.fa"
    }
}