// nextflow.config
profiles {

    standard { }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.container = 'variant-pipeline:1.0'
    }

    test {
        params.reads = "../../test/data/*_{1,2}.fastq"
        params.reference = "../../test/data/pao1.fa"
    }

    aws {
        process.executor = 'awsbatch'
        aws.region = 'us-east-2'
        workDir = 's3://bioinformatics-demo-july2025/work'
    }
}