// nextflow.config

executor {
    name = 'local'
}

profiles {

    standard { }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.container = 'variant-pipeline:1.0'
        params.reads = "../../test/data/*_{1,2}.fastq"
        params.reference = "../../test/data/pao1.fa"
    }

    test {
        params.reads = "../../test/data/*_{1,2}.fastq"
        params.reference = "../../test/data/pao1.fa"
    }

    aws {
        executor {
            name = 'awsbatch'
        }
        process.queue = 'nextflow-queue'
        process.container = 'docker.io/ddsnph/variant-pipeline-complete:latest'
        process.memory = '32 GB'
        process.cpus = 4
        aws.region = 'us-east-2'
        workDir = 's3://bioinformatics-demo-july2025/work'
        params.reads = "s3://bioinformatics-demo-july2025/inputs/*_{1,2}.fastq"
        params.reference = "s3://bioinformatics-demo-july2025/inputs/pao1.fa"
        params.outdir = "s3://bioinformatics-demo-july2025/results"
    }
}